# Logger configuration
logger:
  log_directory:                               # Directory where logs will be stored; if empty, logs are written to stdout
  debug_mode: true                             # Enable debug-level logging
  request_logging: false

# HTTP server configuration
server:
  port: "8080"                                 # Port where the HTTP server listens
  read_timeout: 5s                             # Maximum duration for reading the entire request
  write_timeout: 10s                           # Maximum duration before timing out response writes
  max_header_bytes: 1048576                    # Maximum size of request headers in bytes
  shutdown_timeout: 10s                        # Timeout for graceful server shutdown

service:
  max_message_length: 5000
  max_title_length: 200
  get_limit_max: 100
  get_limit_default: 20

# Cache (Redis) configuration
cache:
  capacity: 3
  max_messages: 2

# Database (PostgreSQL) configuration
database:
  goose_dialect: "postgres"
  goose_migrations_directory: "./migrations"
  host: localhost                              # Database host
  port: "5433"                                 # Database port
  dbname: chronos-db                           # Database name
  sslmode: disable                             # SSL mode for database connection
  max_open_conns: 20                           # Maximum number of open database connections
  max_idle_conns: 10                           # Maximum number of idle connections
  conn_max_lifetime: 30m                       # Maximum lifetime of a database connection
  recover_limit: 1000                          # Max number of notifications to recover and re-queue after DB/broker outage
